<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.samirrolemberg.synchro" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".util.C"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InicialActivity"
            android:label="@string/title_activity_inicial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdicionarFeedActivity"
            android:label="@string/title_activity_adicionar_feed"
            android:parentActivityName=".InicialActivity" >
        </activity>

        <receiver
            android:name=".receiver.ReceiverAdicionarFeed"
            android:enabled="true"
            android:exported="false" >
            <intent-filter><action android:name="AdicionarFeed"/></intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ReceiverLimparConteudoFeed"
            android:enabled="true"
            android:exported="false" >
            <intent-filter><action android:name="LimparConteudoFeed" /></intent-filter>
        </receiver>

        <service android:name=".service.SalvarFeedService" android:exported="false"/>
        <service android:name=".service.LimparConteudoFeedService" android:exported="false"/>
    </application>

</manifest>
